<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{login.page.title}">LOGIN</title>
    <style>

       p.error{
            color: red;
        }
        p.logout{
            color: green;
        }


    </style>
</head>
<body>
<div th:if="${param.error}">
    <p class="error" th:text="#{login.error}">Invalid username and password.</p>
</div>
<div th:if="${param.logout}">
    <p class="logout" th:text="#{login.logout}">You have been logged out.</p>
</div>
<form th:action="@{/login}" method="post">
    <div><label th:text="#{login.name}"> User Name : </label> <input type="text" name="username"/> </div>
    <div><label th:text="#{login.password}"> </label> Password: <input type="password" name="password"/> </div>
    <div><input type="submit" th:value="#{login.signin}"/></div>
</form>

<a href="/"><span th:text="#{mainpage.label}">MAIN PAGE</span></a>

</body>
</html>