<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{pizzalist.page.title}">ALL PIZZAS</title>
</head>
<style>
th, td {
    padding: 5px;
    text-align: left;
}

table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}

</style>
<body>
<table id="t01">
    <tr>
        <th th:text="#{pizzalist.name}">name</th>
        <th th:text="#{pizzalist.price}">price</th>
        <th th:text="#{pizzalist.ingredients}">ingredients</th>
    </tr>
    <tr th:each="pizza : ${pizzas}">
        <td th:utext="${pizza.name}">name</td>
        <td th:utext="${pizza.price}">price</td>
        <td>
            <table>
                <tr th:each="ingredient : ${pizza.ingredients.ingredientsList}">
                    <td th:utext="${ingredient.ingredient}">ingredient</td>
                </tr>
            </table>
        </td>
    </tr>

</table>


<a href="/"><span th:text="#{mainpage.label}">MAIN PAGE</span></a>

</body>
</html>