<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{wrongCredentials.page.title}">INVALID CREDENTIALS</title>
    <style>
        h1.error{
            color=red;
        }
    </style>
</head>
<body>

    <h1 class="error" th:text="#{wrongCredentials.title}">Invalid credentials!</h1>

    <p th:text="${message}">message</p>

    <a href="/" th:text="#{mainpage.label}">Main Page</a>
    <a href="/login" th:text="#{hello.login}">Login</a>

</body>
</html>